@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
/* body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
/* header */
.header {
  position: fixed;
  width: 100%;
  height: 95px;
  line-height:95px;
  z-index: 3;
  background: rgba(0,0,0,.5);
  
}
.header-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  max-width: 100%;
  margin: auto;

}
.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav-logo-img {
  width: 200px;
  height: 54px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-item {
  height: 100%;
}
.nav-item-link {
  font-size: 16px;
  color: #fff;  
  padding: 0 32px;
  display: block;
  font-weight: 400;
  text-decoration: none;
  font-family: Myriad Pro ;
}
.nav-icons {
  color: #fff;
  display: flex;
  cursor: pointer;
}
.nav-icon {
  position: relative;
  margin-left: 54px;
  font-size: 16px;
  font-family: Poppins Regular ;
}
.nav-icon-class::before {
  content: "";  
  position:absolute;
  display: block;
  width : 1px;
  height: 18px;
  top: 40px;
  left: 44px;
  background-color: rgb(139, 137, 137);
}

/* section */
.section-main {
  width:100%;
}
.baner {
  z-index: 1;
  position: relative;
  width: 100%;
}
.baner-img {
  width: 100%;  
  height: 100%;
}
.section-heading {
  width: 100%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: auto;
  top: 31%;
  z-index: 2;
  position: absolute;
  color: #ffffff;
  /* transform: translateY(-50%); */

}
.section-conten {
  width: 47%;
}

.heading-h2 {
  font-size:60px;
  font-weight: bold;
  line-height: 1.2;
}
.heading-span {
  display: block;
  font-size: 40px;
  font-weight: bold;
}
.heading-p {
  line-height: 23px;
    font-size: 14px;
    padding-top: 19px;
}
.section-conten button{
  margin-top: 60px;
  padding: 15px 44px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background:none;
  cursor: pointer;
  transition: .5s;
}
.section-conten button:hover{
  background-color: #777;
  border: 1px solid #777;
  color: #fff;
}
.section-conten a:hover{
  background-color:#ccc;
  color: black;
  border: 1px solid #ccc;
}
.class {
  margin-top:26%;
  width: 100%;
}

.hide {
	display: none;
}
.category-product {
  position:absolute;
  max-width: 1170px;
  width: 100%;
  height: 52%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 91%;
  background-color: #fff;
  box-shadow: 0 0 0px 2px #ccc;
}
.category-product-colums {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
}
.colum-6 {
  width: 33.333%;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}
.colum-6-img {
  padding: 0 45px;
}
.colum-6-img h4 {
  line-height: 24px;
  font-size: 18px;
  padding: 20px 0;
  color: #000000;
}
.colum-6-img p {
  line-height: 24px;
  font-size: 14px;
  font-family:Poppins Regular;
  color:#898989;
}

.img {
  width: 100%;
  height: 100%;
}
.tabar {
  padding-top: 10px;
  width:1170px;
  max-width: 100%;
  margin: auto;
}
.hr {
  width: 100%;
  margin-top: -6px;
  height: 1px;
  background-color:#ddd;
}

.heading-list {
  display: flex;
  list-style: none;
  margin-left:-10px;
  transition:  0.5s;
}
.tabbar-heading{
  display:flex;
}
.product {
  margin-left: -25px;
}
.heading-btn{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  position: relative;
  margin-left: 26px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.silder-name,
.heading-btn {
  text-decoration: none;
  color:#000018;
  font-size: 18px;
  display: block;
}
.heading-btn:hover {
  color:#dd2f31;
}
.heading-list:hover .heading-btn:before {
  display:block;
  transition: 0.5s;
}
.heading-btn:before {
  display: none;
  position: absolute;  
  bottom:-14px;
  content: " ";
  left: -16px;
  width: 120%;
  height: 3px;
  transition: identifier 0.5s;
  background-color:#dd2f31;
}
.product-list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  width: 100%;
  height:100%;
  margin-top: 35px;
  list-style: none;
}
.product-item {
  position: relative;
  height:330px;
  margin-left: 25px;
  width: calc(24% - 14px);
  border-radius: 4px;
  /* box-shadow: 0 0 2px 1px  #ccc; */
  margin-bottom: 46px;
  transition: 0.5s ease;
}
.product-item:hover {
  box-shadow: 0 0 2px 1px  #ccc;
}
.product-item:hover .product-icons {
  display: block;
  transition: 0.5s;

}
.product-item-link {
  display: block;
  text-decoration: none;
  color: #000018;
}
.item-price {
  padding-left: 30px;
  padding-top: 25px;
}
.product-item-img {
  width: 100%;
}
.lider-box{
  cursor: pointer;
  padding-top:30px;
}
.dot:hover{
  background-color: rgb(68, 67, 67);
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.product-icons {
  cursor: pointer;
  display: none;
  text-align:center;
  top: 24px;;
  right: 22px;
  position: absolute;
  transition: 0.5s linear;
  flex-direction: column;
}
.product-icon {
  margin-bottom: 14px;
  align-items: center;
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.product-icon i:hover {
  color:#fff;
}
.product-icon:hover {
  background-color:#dd2f31;
  transition: 0.5s;
  border: 1px solid #dd2f31;
}
.product-icon i {
  width: 100%;
  height: 100%;
  display: block;
  color: #777777;
  padding: 10px 8px;
  font-size: 14px;
}
.prduct-item-price,.product-item-name {
  font-size: 14px;
  font-weight: bold;
  line-height:25px;
}
.section-slider {    
  text-align: center;
  max-width:771px;
  width: 100%;
  margin: auto;
}
.slider-heading {
  font-size: 36px;
  font-weight:bold;
}
.silder-user,
.slider-p {
  padding-top: 12px;
  font-size: 20px;
  line-height: 30px;
  color: #898989;
}
.section-container {
  padding-bottom: 7%;
  padding-top: 4%;
}
.slider {
  padding-top: 48px;
}

.silder-user {
  padding-top: 26px;
  padding-bottom: 16px;
}
.section-logos {
  width: 100%;
  max-width: 1170px;
  margin:auto;
  height: 150px;
  border-top: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width:90%;
  height:100%;
}
.add{
  min-height: 100%;
}
.footer {
  width: 100%;
  background: #222;
}
.footer-info {
  padding: 50px 80px;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  text-align: center;
}
.footer-logo{
  margin-top: 5%;
  padding: 0 12%;
}
.footer-text{
  padding: 30px 0;
  font-size: 14px ;
  color: #777;
  line-height: 25px;
}
.icon-footer{
  font-size: 18px;
  padding: 8px 20px;
  color: #777;

}

.footer-contact {
  border-top: 1px solid #777;
  max-width: 1170px;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  display: flex;
}
.footer-colums {
  margin: 5% 0;
  width: 25%;
  list-style: none;
}
.footer-heading {
  text-transform:uppercase;
  color: #fff;
  padding: 18px 0;
  font-family:poppins Blod;
  font-size: 18px;
}
.footer-colum-4 {
  display: flex;
}
.footer-icon{
  width: 30px;
  display: flex;
  align-items:center;
}
.footer-colum-4 i {
  color: #777;
  font-size: 14px;

}
.footer-right,
.footer-bottun,
.footer-colum-4 span {
  font-size: 14px;
  color: #777;
  line-height:40px;
}
.footer-copyright {
  background-color: #000;
  text-align: center;
}
